*{ margin: 25px;}
body{ font-family: tahoma;background-color: green; }
h1
{
    padding: 10px;
    border: 15px;
    border-style: solid;
    border-radius: 25%;
    color:blueviolet;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
}
p
{
    background-color: aquamarine;
    color: darkblue;
    text-align: justify;
}
img{ width: 30%; }